/* ----------INPUT SIDE---------- */

.input-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input-container > div {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.section-heading {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.section-icon {
  width: 25px;
}

.gen-title {
  padding-bottom: 20px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
}

.input label {
  font-weight: 600;
}

input,
textarea {
  border: none;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  padding: 0px 10px;
}

input {
  height: 40px;
}

textarea {
  padding: 10px 10px;
}

input:focus,
textarea:focus {
  outline: 1px solid rgb(0, 140, 255);
  box-shadow: 0px 0px 4px rgb(0, 140, 255);
}

.date-div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.date-div > div {
  width: 50%;
}

.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  margin-bottom: 10px;
}

/* ----------RESUME DISPLAY SIDE---------- */

.display-container {
  width: 770px;
  height: 1000px;
  box-shadow: 0 0 8px rgb(207, 207, 207);
  background-color: white;
}
