button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}

button:hover {
  filter: brightness(95%);
}

button:active {
  transform: scale(0.95);
}

.input-controls {
  display: flex;
  gap: 10px;
}

.clear {
  color: rgb(226, 28, 28);
  /* background-color: white;
  border: 2px solid rgb(218, 218, 218); */
}

.input-controls button {
  width: 50%;
}

.form-btns,
.add-btn {
  text-align: center;
  margin-top: 15px;
}

.save-btn {
  background-color: rgb(0, 140, 255);
  color: white;
  margin-right: 10px;
}

.add-btn button {
  border: 2px solid rgb(231, 231, 231);
  background-color: white;
  border-radius: 25px;
}

.entry-btns {
  display: flex;
  gap: 10px;
}

.entry button,
.entry-btns button {
  padding: 5px;
}

.btn-icon {
  width: 20px;
  vertical-align: middle;
}
