* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1300px;
  margin: 30px auto;
  background-color: rgb(243, 243, 243);
  /* font-family: 'DM Serif Display', serif; */
  font-family: 'Noto Sans', sans-serif;
}

#root {
  display: flex;
  gap: 30px;
}

button,
input,
textarea {
  font-family: inherit;
}
