* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1300px;
  margin: 30px auto;
  background-color: rgb(243, 243, 243);
  font-family: 'Noto Sans', sans-serif;
  color: rgb(53, 53, 53);
}

#root {
  display: flex;
  gap: 30px;
}

.display-container {
  flex-shrink: 0;
}

button,
input,
textarea {
  font-family: inherit;
  color: rgb(53, 53, 53);
}
